html {
  font-size: clamp(1rem, calc(0.5rem + 2vw), 1.625rem);
}

.libre-franklin {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}